.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 2rem;
  color: var(--text-dark)
}

.navList {
  list-style: none;
  display: flex;
  gap: 16px;
  color: var(--text-dark);
}

/* nav link color */
.navList a {
  color: var(--text-dark);
  text-decoration: none;
}

.navList li {
  margin: 0;
}