:root {
  --raisin-black: #30292fff;
  --english-violet: #413f54ff;
  --ultra-violet: #5f5aa2ff;
  --yinmn-blue: #355691ff;
  --onyx: #3f4045ff;
  --bone: #CCC7B9;
  
  --text-dark: var(--raisin-black);
  --text-light: #F0F3F5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rootLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--english-violet);
}


header,
footer {
  color: var(--text-light);
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }

  header,
  footer {
    padding: 0.5rem 0;
  }

  body {
    font-size: 16px;
  }
}

html {
  max-width: 70ch;
  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: calc(1vmin + .5rem);
  /* shorthand for margin-left/margin-right */
  margin-inline: auto;
  /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  /* use system font stack: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-family: system-ui;

}

/* increase line-height for everything except headings */
body :not(:is(h1, h2, h3, h4, h5, h6)) {
  line-height: 1.75;
}

