:root {
  --primary-1: #fb8b24ff;
  --primary-2: #00bcf5ff;
  --primary-3: #77cf4fff;
  --primary-4: #d68fd6ff;
  --primary-5: #ff4365ff;

  --text-light: #f4f4f4;
  --text-dark: #0d1723;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}


header,
footer {
  color: var(--text-dark);
  padding: 1rem 0;
}

main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }

  header,
  footer {
    padding: 0.5rem 0;
  }

  body {
    font-size: 16px;
  }
}

html {
  max-width: 70ch;
  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: calc(1vmin + .5rem);
  /* shorthand for margin-left/margin-right */
  margin-inline: auto;
  /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  /* use system font stack: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-family: system-ui;

  color: var(--text-dark)
    /* use a light gray background color */


}

/* increase line-height for everything except headings */
body :not(:is(h1, h2, h3, h4, h5, h6)) {
  line-height: 1.75;
}