.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 16px;
  text-align: center;
}

.timer {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 24px;
}

.exerciseName h2 {
  font-size: 36px;
  margin: 0;
}

.exerciseName p {
  font-size: 18px;
  margin-top: 8px;
  color: var(--text-light);
}

@media (min-width: 768px) {
  .timer {
    font-size: 64px;
  }

  .exerciseName h2 {
    font-size: 48px;
  }

  .exerciseName p {
    font-size: 24px;
  }
}

.skipButton {
  background-color: var(--onyx); 
  border: 2px solid var(--text-light);
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 16px;
  margin-top: 16px;
  cursor: pointer;
}


.skipButton:active {
  transform: scale(0.95);
}

.skipButton:focus {
  outline: none;
}
